*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
	box-sizing: border-box;
}

body{
	background-color: white;
}

ul{
   /* float: left; */
    list-style-type: none;
    margin-top: 20px; 

   
}

ul li{
	display: inline-block;
	
}



ul li a {
	text-decoration: none;
	color: white;
	padding: 2px 20px;
	border: 5px solid transparent;
	font-size: 20px;
	/* transition: 0.6s ease; */
}

ul li a:hover {
	background-color: white;
	color: black;

}

ul li.active a{
	background-color: #fff; /* background color ng nav yung hover*/
	color: #000; /*font color ng nav */
}

.active{ background-color: white; }

.main{
	 max-width: 1200px; 
	margin: 20px;

}

.title{
	position: center;
	top: 50%;
	left: 50%
	transform: translate(-50%,-50%);
	background-color: #123;
}

.title h1{
	color: white;
	font-size: 70px;

}

hr { height: 10px }

 /*img {  margin: 30px 100px 50px 70px; /*unang number is para sa taas, 2nd number para sa left side ng 2ndpic,3rd is para sa margin sa taas ng babang pic, number sa dulo ay paraa sa left side} */ 

.font{ font-family: times new roman; font-size: 20px; color: black;}


a:link {text-decoration: none;}

#navbar {overflow: hidden; background-color: #123;}
		#navbar a {float: left; display: block; color: #f2f2f2; text-align: center; padding: 14px 16px; text-decoration: none; font-size: 20px;}
		#navbar a:hover{background-color: white; color: black;}
		#navbar a:active{background-color: white; color: white;}
		.content {padding: 16px; font-size: 20px;}
		.sticky{position: fixed; top: 0; width: 100%;}
		.sticky + .content{padding-top: 60px;}


 footer {display: block; background-color: #404040; background font-size: 23px; color: white;} 

.fa {padding: 20px; font-size: 30px; width: 30px; text-align: center; text-decoration: none; border-radius: 50%;}
.fa:hover {opacity: 0.7;}
.fa-facebook {background: #3B5998; color: white;}

td spanGrass { display: inline; background-color: #248f24; color: black; font-size: 20px; padding: 10px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; border-top-left-radius: 20px; border-top-right-radius: 20px;  }
td spanElectric { display: inline; background-color: gold; color: black; font-size: 20px; padding: 10px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; border-top-left-radius: 20px; border-top-right-radius: 20px;  }
td spanSteel { display: inline; background-color: #8c8c8c; color: black; font-size: 20px; padding: 10px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; border-top-left-radius: 20px; border-top-right-radius: 20px;  }
td spanFire { display: inline; background-color: #ff1a1a; color: black; font-size: 20px; padding: 10px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; border-top-left-radius: 20px; border-top-right-radius: 20px;  }
td spanWater { display: inline; background-color: #1a75ff; color: black; font-size: 20px; padding: 10px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; border-top-left-radius: 20px; border-top-right-radius: 20px;  }
td spanIce { display: inline; background-color: cyan; color: black; font-size: 20px; padding: 10px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; border-top-left-radius: 20px; border-top-right-radius: 20px;  }
td spanGround { display: inline; background-color: #996633; color: black; font-size: 20px; padding: 10px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; border-top-left-radius: 20px; border-top-right-radius: 20px;  }
td spanPsychic { display: inline; background-color: #ff66ff; color: black; font-size: 20px; padding: 10px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; border-top-left-radius: 20px; border-top-right-radius: 20px;  }
td spanFighting { display: inline; background-color: #cc0000; color: black; font-size: 20px; padding: 10px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; border-top-left-radius: 20px; border-top-right-radius: 20px;  }
td spanPoison { display: inline; background-color: #bf00ff; color: black; font-size: 20px; padding: 10px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; border-top-left-radius: 20px; border-top-right-radius: 20px;  }
td spanBug { display: inline; background-color: #00e600; color: black; font-size: 20px; padding: 10px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; border-top-left-radius: 20px; border-top-right-radius: 20px;  }
td spanFairy { display: inline; background-color: #ff99ff; color: black; font-size: 20px; padding: 10px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; border-top-left-radius: 20px; border-top-right-radius: 20px;  }
td spanGhost { display: inline; background-color: #8000ff; color: black; font-size: 20px; padding: 10px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; border-top-left-radius: 20px; border-top-right-radius: 20px;  }
td spanDark { display: inline; background-color: #663300; color: black; font-size: 20px; padding: 10px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; border-top-left-radius: 20px; border-top-right-radius: 20px;  }
td spanRock { display: inline; background-color: #ffbf00; color: black; font-size: 20px; padding: 10px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; border-top-left-radius: 20px; border-top-right-radius: 20px;  }
td spanFlying { display: inline; background-color: #bb99ff; color: black; font-size: 20px; padding: 10px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; border-top-left-radius: 20px; border-top-right-radius: 20px;  }